[submodule "JUCE"]
	path = JUCE
	url = https://github.com/julianstorer/JUCE
[submodule "Tests/Source/rxjuce/RxCpp"]
	path = Tests/Source/rxjuce/RxCpp
	url = https://github.com/Reactive-Extensions/RxCpp
